@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'DM Sans', sans-serif;
  background: #0d0916;
}

.page-title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 5em;
  background: rgb(154,43,245);
  background: linear-gradient(90deg, rgba(154,43,245,1) 39%, rgba(255,63,79,1) 100%);
  box-shadow: 0 8px 18px 0 #02020296;
  color: white;
}


.input{
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.input-box{
  width: 580px;
  height: 50px;
  font-size: 1.5em;
  border-radius: 10px;
  border: 2px solid #9a2bf5;
  outline: none;
  background: none;
  color: white;
  box-shadow: 0 8px 8px 0 #020202a8;
}

.input-btn{
  width: 60px;
  height: 55px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #ff3f4f;
  outline: none;
  box-shadow: 0 8px 8px 0 #020202a8;
  color: white;
  background: none;
  transition: background 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-btn:hover{
  background: #ff3f4f;
}


.items-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.items-list-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.items-list-item{
  align-items: center;
  border: 2px solid #ff3f4f;
  background-color: none;
  width: 660px;
  display: flex;
  gap: 20px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 14px 14px 0 #020202b6;
}


.delete-btn{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.5em;
  border-radius: 20px;
  border: none;
  color: white;
  background: none;
  transition: background 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-btn:hover{
  background: #9a2bf5;
}

.list-input{
  height: 40px;
  font-size: 20px;
  width: 80%;
  border: none;
  outline: none;
  user-select: none;
  border-radius: 10px;
  background: none;
  color: white;
  
}

/* Customize the label (the container) */
.container {
  margin-left: 10px;
  text-align: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */
.checkmark {
  cursor: pointer; 
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #2b9af5;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ff3f4f;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #9a2bf5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}